/*Fonts*/
.title{
  font-size: 6rem;
  margin-top: -2px;
}

@media screen and (min-width: 601px) {
    .title {
      font-size: 6rem;
    }
    .home {
      display:flex;
      flex-direction: row;
    }

    .view{
      margin-top: 13rem;
      margin-left: -8rem;
    }
}

@media screen and (max-width: 600px) {
    .title {
      font-size: 3.5rem;
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .view {
      margin-left: 0rem;
    }
}
.foottitle{
  font-family: "OpenSans-BoldItalic", Arial, sans-serif;
  text-decoration: none;
  margin-left: 4rem;
}

.foottitle:hover{
  font-family: "OpenSans-BoldItalic", Arial, sans-serif;
  text-decoration: none;
  color: rgb(159, 159, 149);
}


h1 {
  font-family: "OpenSans-BoldItalic", Arial, sans-serif;
  color: rgb(246, 246, 244);
  letter-spacing: 1rem;
  font-size: 50px;
}

h2 {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  color: rgb(246, 246, 244);
}

h3 {
  font-family: "OpenSans-BoldItalic", Arial, sans-serif;
  color: rgb(246, 246, 244);
}

p {
  font-family: "OpenSans-Regular", Arial, sans-serif;
  color: rgb(246, 246, 244);
  margin-left: 1rem;
}

.linklt {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  color: rgb(81, 94, 95);
  text-decoration: none;
}

.linklt:hover{
  font-family: "OpenSans-BoldItalic", Arial, sans-serif;
  color: rgb(81, 94, 95);
  text-decoration: none;
}

.linkdk {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  color: rgb(159, 159, 149);
  text-decoration: none;
}

.linkdk:hover{
  font-family: "OpenSans-BoldItalic", Arial, sans-serif;
  color: rgb(159, 159, 149);
  text-decoration: none;
}

.light {
  color: rgb(38, 44, 44);
}

.dark {
 font-family: "OpenSans-BoldItalic", Arial, sans-serif;
 font-size: 3rem;
 color: rgb(246, 246, 244);
 text-decoration: none;
}

.dark:hover{
  color: rgb(159, 159, 149);
  text-decoration: none;
  font-family: "OpenSans-BoldItalic", Arial, sans-serif;
}

.iframe{
  margin-left: 1rem;
}

/*Layout*/
header{
  display:flex;
  justify-content: flex-end;
  padding-top: 1rem;
  padding-right: 1rem;
}
body{
  background-color: rgb(81, 94, 95);
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 15%;
  border: none;
}

.help{
  background-color: rgb(249, 249, 246);
}

.images {
  width: 70%;
  display: flex;
  margin-left: 15%;
  padding-bottom: 5%
  padding-top: 5%;
}

footer {
  position: fixed;
  background-color: rgb(249, 249, 246);
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.foot{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footnav {
  flex-direction: column;
  text-align: right;
  margin-right: 2rem;
}

.item{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;
}

.item p {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.item h3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(249, 249, 246);
}

.home {
  background-color: rgb(249, 249, 246);
  width: 100%;
  height: 100%;
}

.home2 {
  flex-direction:row;
  background-color: rgb(81, 94, 95);
  padding-top: 1.5rem;
  width: 100%;
  height: 100%;
}

/*Main Nav*/
.navbut {
  display: inline-flex;
  padding: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  border: none;
}

.button {
  background-color: rgb(81, 94, 95);
  align-self: flex-start;
  padding: 0.5rem;
  margin-left: -0.5rem;
  font-size: 3rem;
  text-decoration: none;
  border: none;
}

.landing{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-bottom: 2rem;
}

/*Carousels*/
.carousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

.back, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  background-color: rgb(81,94,95);
  width: auto;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.back:hover, .next:hover {
  background-color: rgba(159,159,149);
}
