/*Fonts*/
.title{
  font-size: 100px;
}

h1 {
  font-family: "OpenSans-BoldItalic", Arial, sans-serif;
  color: rgb(38, 44, 44);
  letter-spacing: 1rem;
  font-size: 50px;
}

h2 {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  color: rgb(38, 44, 44);
}

h3 {
  font-family: "OpenSans-BoldItalic", Arial, sans-serif;
  color: rgb(38, 44, 44);
}

p {
  font-family: "OpenSans-Regular", Arial, sans-serif;
  margin-left: 1rem;
}

.linklt {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  color: rgb(81, 94, 95);
  text-decoration: none;
}

.linklt:hover{
  font-family: "OpenSans-BoldItalic", Arial, sans-serif;
  color: rgb(81, 94, 95);
  text-decoration: none;
}

.linkdk {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  color: rgb(159, 159, 149);
  text-decoration: none;
}

.linkdk:hover{
  font-family: "OpenSans-BoldItalic", Arial, sans-serif;
  color: rgb(159, 159, 149);
  text-decoration: none;
}

.light {
  color: rgb(159, 159, 149);
}

.dark {
 color: rgb(246, 246, 244);
}

.iframe{
  margin-left: 1rem;
}

/*Layout*/
body{
  background-color: rgb(249, 249, 246);
  margin: 10%;
  padding-bottom: 15%;
}

.images {
  width: 80%;
  justify-content: center;
  padding-bottom: 5%
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: rgb(81, 94, 95);
}

/*Main Nav*/
/* Dropdown Button */
.view {
  background-color: rgb(249, 249, 246);
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.nav {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown3 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.nav a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.nav:hover .dropdown {display: block;}

.nav2:hover .dropdown2 {display: block;}

.nav3:hover .dropdown3 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.nav:hover {background-color: #3e8e41;}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.expanded {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}


/*Carousels*/
.carousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

.back, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  background-color: rgb(81,94,95);
  width: auto;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.back:hover, .next:hover {
  background-color: rgba(159,159,149);
}
