/*Fonts*/
.title{
  font-size: 100px;
}

.home {
  height: 40%
}

h1 {
  font-family: "OpenSans-BoldItalic", Arial, sans-serif;
  color: rgb(38, 44, 44);
  letter-spacing: 1rem;
  font-size: 50px;
}

h2 {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  color: rgb(38, 44, 44);
}

h3 {
  font-family: "OpenSans-BoldItalic", Arial, sans-serif;
  color: rgb(38, 44, 44);
}

p {
  font-family: "OpenSans-Regular", Arial, sans-serif;
  margin-left: 1rem;
}

.linklt {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  color: rgb(81, 94, 95);
  text-decoration: none;
}

.linklt:hover{
  font-family: "OpenSans-BoldItalic", Arial, sans-serif;
  color: rgb(81, 94, 95);
  text-decoration: none;
}

.linkdk {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  color: rgb(159, 159, 149);
  text-decoration: none;
}

.linkdk:hover{
  font-family: "OpenSans-BoldItalic", Arial, sans-serif;
  color: rgb(159, 159, 149);
  text-decoration: none;
}

.light {
  color: rgb(159, 159, 149);
}

.dark {
 color: rgb(246, 246, 244);
}

.iframe{
  margin-left: 1rem;
}

/*Layout*/
body{
  background-color: rgb(249, 249, 246);
  margin-left: 10%;
  padding-bottom: 15%;
}

.images {
  width: 80%;
  justify-content: center;
  padding-bottom: 5%
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: rgb(81, 94, 95);
}

/*Main Nav*/
.navbut {
  display: inline-flex;
  margin-left: 10%;
  position: relative;
  padding: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  font-size: 16px;
  border: none;
}

.button {
  background-color: rgb(81, 94, 95);
  padding: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  font-size: 16px;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdowncontent {
  display: none;
  position: absolute;
  padding-top: 40px;
}

.dropdowncontent2 {
  display: none;
  position: absolute;
  padding-top: 40px;
}

/* Links inside the dropdown */
.dropdowncontent a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdowncontent2 a{
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.navbut:hover .dropdowncontent {display: block;}

.navbut:hover .dropdowncontent2 {display: block;}


/*Carousels*/
.carousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

.back, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  background-color: rgb(81,94,95);
  width: auto;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.back:hover, .next:hover {
  background-color: rgba(159,159,149);
}
