@font-face {
	font-family: 'OpenSans-Regular';
	font-weight: normal;
	font-style: normal;
	src: url('../Fonts/OpenSans-Regular.eot');
	src:
		 url('../Fonts/OpenSans-Regular.woff') format('woff'),
		 url('../Fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-SemiBold';
	font-weight: normal;
	font-style: normal;
	src: url('../Fonts/OpenSans-SemiBold.eot');
	src:
		 url('../Fonts/OpenSans-SemiBold.woff') format('woff'),
		 url('../Fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-SemiBoldItalic';
	font-weight: normal;
	font-style: normal;
	src: url('../Fonts/OpenSans-SemiBoldItalic.eot');
	src:
		 url('../Fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
		 url('../Fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-Bold';
	font-weight: normal;
	font-style: normal;
	src: url('../Fonts/OpenSans-Bold.eot');
	src:
		 url('../Fonts/OpenSans-Bold.woff') format('woff'),
		 url('../Fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans-BoldItalic';
	font-weight: normal;
	font-style: normal;
	src: url('../Fonts/OpenSans-BoldItalic.eot');
	src:
		 url('../Fonts/OpenSans-BoldItalic.woff') format('woff'),
		 url('../Fonts/OpenSans-BoldItalic.ttf') format('truetype');
}
